:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
}

html,body{
  width: 100%;
  height: 100%;
}

.logo {
    font-family: "Hanken Grotesk", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    font-weight: lighter !important;
}

.quikk-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    filter: brightness(15%);
}

#thingsToDo * {
    font-weight: bold;
    display: none;
}

#thingsToDo *:first-child {
    display: inline;
}

#thingsToDo *:nth-child(2) {
    display: inline;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
